<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwp.cmoneycharge"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cwp.cmoneycharge.Index"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity android:name="com.cwp.cmoneycharge.About"></activity>
           <activity android:name="com.cwp.cmoneycharge.Account"></activity>
           <activity android:name="com.cwp.cmoneycharge.AddIncome"></activity>
           <activity android:name="com.cwp.cmoneycharge.AddNote"></activity>
           <activity android:name="com.cwp.cmoneycharge.AddPay"></activity>
           <activity android:name="com.cwp.cmoneycharge.Author"></activity>
           <activity android:name="com.cwp.cmoneycharge.ChangePwd"></activity>
           <activity android:name="com.cwp.cmoneycharge.Data"></activity>
           <activity android:name="com.cwp.cmoneycharge.Description"></activity>
           <activity android:name="com.cwp.cmoneycharge.Income"></activity>
           <activity android:name="com.cwp.cmoneycharge.IncomeData"></activity>
           
           <activity android:name="com.cwp.cmoneycharge.InPtypeManager"></activity>
           <activity android:name="com.cwp.cmoneycharge.Login"></activity>
           <activity android:name="com.cwp.cmoneycharge.ModifyInp"></activity>
           <activity android:name="com.cwp.cmoneycharge.ModifyNote"></activity>
           <activity android:name="com.cwp.cmoneycharge.Note"></activity>
           <activity android:name="com.cwp.cmoneycharge.Pay"></activity>
           <activity android:name="com.cwp.cmoneycharge.Paydata"></activity>
           <activity android:name="com.cwp.cmoneycharge.PIData"></activity>
           <activity android:name="com.cwp.cmoneycharge.Register"></activity>
           <activity android:name="com.cwp.cmoneycharge.Setting"></activity>
           
    </application>

</manifest>
